@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

html{
	scroll-behavior: smooth;
}


body{
	font-family: 'Poppins', sans-serif;
	color: #6c757d !important;
	background:#000;
}

.text-black{
	color: black !important;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
	font-weight: bold !important;
	font-family: 'Pacifico', sans-serif;
}

.nav-link{
	margin: auto;
}

header nav .navbar-nav .nav-link.active{
	color: #ee6f57 !important;
}

@media(min-width: 992px){
	.nav-link{
		margin-left: 10px;
	}
}

.crop-foto{
	height: 200px;
	overflow: hidden;
}

.crop-content{
	height: 70px;
	overflow: hidden;
}

.isi-content img{
	background-size: cover;
	width: 100%;
	height: auto;
}

footer h5{
	color: #000 !important;
}

footer a{
	color: #6c757d !important;
}

.form-control{
	border-radius: 10px !important;
}

.shadow-sm {
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.shadow {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.shadow-lg {
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.07) !important;
}

.card figure {
	overflow: hidden;
	position: relative;
	margin-bottom: 0px; 
}

.card figure:before {
	z-index: 2;
	-webkit-transition: .4s all ease;
	-o-transition: .4s all ease;
	transition: .4s all ease;
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	position: absolute;
	content: "";
	left: 20px;
	right: 20px;
	top: 20px;
	bottom: 20px;
	opacity: 0;
	visibility: hidden; 
}
    
.card figure img {
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1); 
}

.card:hover figure:before {
	opacity: 1;
	visibility: visible;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.card:hover figure img {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

.btn{
	border-radius: 10px !important;
}

.btn-primary{
	background-color: #ee6f57 !important;
	border-color: #ee6f57 !important;
}

.btn-primary:hover{
	background-color: #ee6f57 !important;
	border-color: #ee6f57 !important;
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.btn-primary:focus{
	background-color: #ee6f57 !important;
	border-color: #ee6f57 !important;
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.bg-img{
	background-image: url(../assets/img/dark-black-abstract-background-with-wood-chips.jpg);
	background-size: cover;
	background-position-x: center;
}
.bg-img1{
	background-size: cover;
	background-position-x: center !important;
}

.text-warning{
	color: #bd9f5b !important;
}

.date-wedding{
	border-bottom: 2px #bd9f5b solid;
	border-top: 2px #bd9f5b solid;
}

.top_l{
	position: absolute;
	top: 0px;
	left: 0px;
}

.top_r{
	position: absolute;
	top: 0px;
	right: 0px;
}

.bottom_r{
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.bottom_l{
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.py-6{
	padding-top: 8rem !important;
	padding-bottom: 8rem !important;
}


    html,
    body {
      position: relative;
      height: 100%;
    }

    .swiper-container {
      width: 100%;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
    }

    .swiper-slide {
      background-size: cover;
      background-position: center;
    }

    .gallery-top {
      height: 80%;
      width: 100%;
    }

    .gallery-thumbs {
      height: 20%;
      box-sizing: border-box;
      padding: 10px 0;
    }

    .gallery-thumbs .swiper-slide {
      height: 100%;
      opacity: 0.4;
    }

    .gallery-thumbs .swiper-slide-thumb-active {
      opacity: 1;
    }

.fh5co-cover {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
}
.fh5co-cover .overlay {
  z-index: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
.fh5co-cover > .fh5co-container {
  position: relative;
  z-index: 10;
}
.btn-light{
	background:#bd9f5b;
	color:#fff;
	border:1px solid #fff;
	}

@media (min-width:768px) {
#menubawah {
	display:inline-flex;
}
}

pre{
	color: white !important;
}